* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
}

body {
    background: rgb(151, 90, 189);
    background: -moz-linear-gradient(
        90deg,
        rgba(151, 90, 189, 1) 0%,
        rgba(190, 111, 176, 1) 50%,
        rgba(247, 147, 111, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(151, 90, 189, 1) 0%,
        rgba(190, 111, 176, 1) 50%,
        rgba(247, 147, 111, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(151, 90, 189, 1) 0%,
        rgba(190, 111, 176, 1) 50%,
        rgba(247, 147, 111, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#975abd",endColorstr="#f7936f",GradientType=1);
}

.calculator {
    margin: 20vh auto 10vh auto;
    max-width: 33vw;
    height: 70vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: (minmax(120px, auto) repeat(6, 80px));
}

.calculator__result {
    min-height: 120px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 4px 25px -1px rgba(0, 0, 0, 0.75);
    background-color: #212121;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator__display-previous-operations {
    font-size: 16px;
    font-weight: 400;
    color: #c87788;
}

.calculator__display-actual-operation {
    font-size: 48px;
    color: #ffffff;
}

.calculator__keyboard {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: (minmax(120px, auto) repeat(5, 80px));
}

.calculator__button {
    cursor: pointer;
    padding: 10px;
    border: 0;
    background: rgb(254, 254, 254);
    background: linear-gradient(
        90deg,
        rgba(254, 254, 254, 1) 0%,
        rgba(246, 246, 246, 1) 100%
    );
    outline: none;
    opacity: 0.9;
    transition: 0.2s;
}

.calculator__button:hover {
    opacity: 1;
}

.calculator__button:active {
    background: rgb(220, 220, 220);
    background: radial-gradient(
        circle,
        rgba(220, 220, 220, 1) 0%,
        rgba(253, 253, 254, 1) 100%
    );
}

.calculator__button--operation {
    background: rgb(145, 86, 226);
    background: linear-gradient(
        45deg,
        rgba(145, 86, 226, 1) 0%,
        rgba(133, 71, 216, 1) 100%
    );
    color: #ffffff;
}

.calculator__button--operation:active {
    background: rgb(145, 86, 226);
    background: radial-gradient(
        circle,
        rgba(145, 86, 226, 1) 0%,
        rgba(133, 71, 216, 1) 100%
    );
}

.calculator__button--equal {
    grid-column: span 2;
    background: rgb(230, 47, 137);
    color: #ffffff;
}

.calculator__button--equal:active {
    background: rgb(230, 47, 137);
    background: radial-gradient(
        circle,
        rgba(230, 94, 137, 1) 0%,
        rgba(230, 47, 137, 1) 100%

    );
}


.calculator__button:nth-last-child(-n + 1) {
    border-radius: 0 0 5px 0;
}

.calculator__button:nth-last-child(3) {
    border-radius: 0 0 0 5px;
}
